body {
    margin: 0;
    background-color: #2B2B2B;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.main-container {
    padding-top: 38px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.header {
    padding-left: 50px;
    padding-top: 33px;
    padding-bottom: 33px;
    font-size: 24px;
}

.submit {
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #BFAFF2;
    font-size: 18px;
    color: #333333;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.second-container {
    padding-top: 77px;
    width: 1080px;
    display: flex;
    justify-content: space-between;
}

.big-title-container {
    width: 465px;
    display: block;
    font-size: 18px;
}

.big-title {
    padding-top: 27px;
    font-size: 60px;
}

.description {
    width: 461px;
    padding-top: 40px;
}

.get-started {
    margin-top: 72px;
    background-color: #F8D57E;
    color: #333333;
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.img1-container {
    background-color: #373636;
    border-radius: 30px;
    margin-left: 115px;
}

.logos {
    margin-top: 77px;
    width: 1080px;
    height: 170px;
    border-top: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    display: flex;
    justify-content: center;
}

.image-mobile {
    display: none;
}

.img2-container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 10px;
    background-color: antiquewhite;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.pay-container {
    padding-top: 50px;
    display: flex;
    column-gap: 50px;
    padding-bottom: 50px;
}

.icon-container {
    width: 311px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pay-title {
    font-weight: bold;
    padding-top: 32px;
}

.pay-description {
    padding-top: 10px;
    width: 255px;
    color: #7f7f7f;
    text-align: center;
}

.feedback {
    width: 1080px;
    border-radius: 20px;
    background-color: #BFAFF2;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 83px;
}

.feedback-text {
    width: 756px;
    color: #2B2B2B;
    font-size: 24px;
    font-weight: semibold;
    padding-left: 162px;
}

.castomer-box {
    padding-top: 50px;
    padding-left: 162px;
    padding-bottom: 84px;
    display: flex;
}

.avatar {
    border: solid #BCBCBC;
}

.name {
    padding-top: 13px;
    padding-left: 20px;
    color: #2B2B2B;
}

.star {
    padding-left: 20px;
    padding-top: 5px;
}

.footer {
    width: 1280px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #FFFFFF;
}

.l-footerbox {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-footer {
    font-size: 24px;
    font-weight: 600;
}

.footer-link-box {
    padding-top: 44px;
    display: flex;
    font-weight: 600;
}

.footer-link {
    padding-left: 30px;
}

.r-footerbox {
    display: flex;
    padding-left: 80px;
}

.input-text {
    padding-top: 63px;
}

.mail-input {
    width: 301px;
    height: 50px;
    border: none;
    border-radius: 15px;
    margin-top: 22px;
    text-align: center;
    font-size: 18px;
    background-color: #333333;
    color: #FFFFFF;
}

.send {
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #BFAFF2;
    font-size: 18px;
    color: #333333;
    margin-left: 25px;
    margin-top: 110px;
    margin-bottom: 50px;
    cursor: pointer;
}

@media (max-width: 640px) {

    body {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 33px;
    }

    .sign-un {
        display: none;
    }

    .main-container {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .second-container {
        padding-top: 0px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .big-title-container {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .big-title {
        padding-top: 0%;
        font-size: 40px;
        margin-right: auto;
        margin-left: auto;
        width: 335px;
    }

    .description {
        width: 100%;
        padding-top: 30px;

    }

    .get-started {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .img1-container {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .logos {
        margin-top: 70px;
        width: 100%;
        height: 180px;

    }

    .image-descktop {
        display: none;
    }

    .image-mobile {
        width: 100%;
    }

    .pay-container {
        flex-direction: column;
        row-gap: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
    }

    .image-pay {
        width: auto;
    }

    .feedback {
        margin-left: auto;
        margin-right: auto;
        padding: 80px 30px 80px 30px;
        width: auto;
    }

    .feedback-text {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .castomer-box {
        margin-top: 80px;
        justify-content: center;
        padding-left: 0;
    }

    .name-star-box {
        padding-left: 20px;
        padding-top: 13px;
    }

    .name {
        padding-top: 0px;
        padding-left: 0px;
    }

    .star {
        margin-top: 5px;
        padding-left: 0;
        padding-top: 0;
    }

    .footer {
        width: 100%;
        justify-content: center;
        margin-top: 50px;
        flex-direction: column;
    }

    .title-footer {
        padding-top: 50px;
    }

    .l-footerbox {
        padding-top: 30px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
    }

    .footer-link-box {
        padding-top: 0px;
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
        padding-bottom: 30px;
    }

    .footer-link {
        padding-bottom: 20px;
    }

    .r-footerbox {
        padding-top: 30px;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .input-text {
        padding-top: 0;
    }

    .mail-input {
        width: 100%;
    }

    .send {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .revers-box {
        display: flex;
        flex-direction: column-reverse;
    }
}