body {
    margin: 0;
    background-color: #2B2B2B;

}

.main-container {
    padding-top: 38px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header {
    font-size: 24px;
}

.submit {
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #BFAFF2;
    font-size: 18px;
    color: #333333;
    margin-left: 30px;

}